pre {
    white-space: pre-wrap;
}

.friendMessage {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;

}

.friendImageAndText img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 50px;
    border: 2px solid rgba(221, 238, 255, 0.49);
}

.friendText {
    display: flex;
    word-break: break-word;
    flex-direction: column;
    position: relative;
    max-width: 60%;
    height: auto;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    border: 1px solid rgba(221, 238, 255, 0.49);
    background-image: url("https://abrakadabra.fun/uploads/posts/2021-12/1639964606_3-abrakadabra-fun-p-standartnie-foni-telegramma-3.jpg");
    background-size: 30%;
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(60px at top left, transparent 49%,  rgba(28, 28, 28, 0.89) 51% ) no-repeat right bottom;
}

.friendName {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #decccc;
}

.friendMessageText {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #decccc;
    margin-top: 5px;
}

.friendTime {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #decccc;
    display: flex;
    margin-left: 35px;
    margin-bottom: 50px;
}
